# System files
.DS_Store

# Database files
*.sql
topdev.sql
topdev_backup.sql

# Environment files
.env

# Log files
error.log

# Session files
/sessions

# Upload directories
/diensten
/diensten/*/upload/*
!/diensten/*/upload/.gitkeep

# CSV files
*.csv

testbestanden/Portavita.dat
testbestanden/Trodis.dat
*.csv
diensten/td-test/upload/nood.csv
diensten/td-test/upload/td-test.dat
